@model Tienda_Deportiva.Membership.ResetPasswordEmailModel

<html>
<head>
    <title>Reset your Tienda_Deportiva password</title>
</head>
<body>
    <p>@Model.DisplayName,</p>

    <p>We received a request to change your password on Tienda_Deportiva.</p>

    <p>Click the link below to set a new password:</p>

    <p><a href="@Model.ResetLink">@Model.ResetLink</a></p>

    <p>If you don't want to change your password, you can ignore this email.</p>

    Thanks,
    The "Tienda_Deportiva" Team
</body>
</html>